@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif; 
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: none;
  list-style: none;
}

:root {
  --main-color:#d90429;
  --text-color:#020102;
  --bg-color:#fff;
}
img{
  width: 100%;
}
/*header*/

body{
  position: relative;
}
section{
  padding: 4rem 0 2rem;
}
.toogle_menu{
  display: none;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 10px 5%;
  height: 50px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--bg-color);
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo{
  color: #000;
  font-size: 15px;
  font-weight: bold;
}
header .logo span{
  color: var(--main-color);
}
header .menu{
  display: flex;
  column-gap: 2rem;
}

header .menu li a{
  font-size: 16px;
  color: #000;
  font-weight: 300;
  transition: 0.2s;
}
header .menu li a:hover{
  color: var(--main-color);
} 
 .ctn{
  padding: 5px 25px;
  background-color: var(--main-color);
  cursor: pointer;
  color: #fff;
}
.home{
  display: flex;
  margin: auto;
  align-items: center;
  background-image: url('img/Background-home.png');
  width: 100%; 
  min-height: 650px;
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
}
.landing-text{
  padding-left: 130px;
}
.landing-text h1{
  font-size: 2.4rem;
}
.landing-text p{
font-size: 0.938rem;
font-weight: 300;
margin: 0.5rem 0 1.2rem;
}
.landing-text span{
  color: var(--main-color);
}
.landing-text .ctn{
  padding: 10px 22px;
  background-color: var(--main-color);
  color: var(--bg-color);
  font-weight: 400;
  text-align: center;
}
.heading{
  text-align: center;
}
.heading span{
  color: var(--main-color);
  font-weight: 500;
}
.heading p{
  font-size: .938rem;
  font-weight: 300;
}
.cars{
  margin-top: 20px;
  padding: 0 20px;
}
.cars-counatiner{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
  width: 100%;
}
.cars-counatiner .box{
  position: relative;
  border-radius: .5rem;
  overflow: hidden;
}
.cars-counatiner .box img{
  object-fit: cover;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.cars-counatiner .box img:hover{
  transform: scale(1.1);
  transition: .5s;
}
.cars-counatiner .box h2{
  position: absolute;
  bottom: 1.1rem;
  left: 1.1rem;
  padding: 6px;
  background-color: var(--bg-color);
  border-radius: .5rem;
  font-weight: 100;
}
.cars-counatiner .box:hover h2{
  background-color: var(--main-color);
  color: var(--bg-color);
}
.about{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
}
.about-image{
  flex: 1 1 17rem;
}
.about-text{
  flex: 1 1 17rem;
}
.about-text span{
  font-weight: 500;
  color: var(--main-color);
}
.about-text h2{
  font-size: 1.7rem;
}
.about-text p{
  font-size: .938rem;
  margin: 0.5rem 0 1.4rem;
} 
.parts-countainer{
  padding: 0 20px;
}
.countainer-box{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  gap: 2rem;
}
.countainer-box .item-box{
  display: grid;
  flex-direction: column;
  position: relative;
  padding: 20px;
  background-color: #f6f6f6;
  border-radius: .5rem;
}
.countainer-box .item-box img{
  width: 100%;
  height: 150px;
  object-fit: contain;
  object-position: center;
  margin-bottom: 30px;
}
.countainer-box .item-box h3{
  font-size: 1.1rem;
  font-weight: 600;
}
.countainer-box .item-box span{
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--main-color);
}
.countainer-box .item-box i{
  color: var(--main-color);
  margin: 0.8rem 0;
}
.countainer-box .item-box .btn{
  max-width: 120px;
  background-color: var(--main-color);
  font-size: 18px;
  height: 40px;
  border-radius: .5rem;
  color: #fff;
  text-align: center;
  padding:5px 0 ;
  margin: 0.8rem 0;
}
.countainer-box .item-box .details{
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 2.5rem;
  right: 1.1rem;
  font-size: 1rem;
  color: var(--text-color);
}
.countainer-box .item-box .details:hover{
  color: var(--main-color);
}
.footer{
  background-color: #333;
  color: var(--bg-color);
  border-top: 1px solid var(--main-color);
  margin-top: 50px;
}
.footer-counatiner{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 0 auto;
}
.footer-counatiner .box-footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box-footer .logo{
color: var(--bg-color);
margin-bottom: 1rem;
font-size: 25px;
}
.box-footer .logo span{
  color: var(--main-color);
}
.box-footer .social{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.social i{
  font-size: 20px;
  color: var(--bg-color);
}
.social i:hover{

  color:var(--main-color);
}
.social{
  color: var(--main-color);

}
.box-footer h3{
  font-size: 1.1rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
.box-footer a ,
.box-footer p{
  color: #818181;
  margin-bottom: 10px;
}
.box-footer a:hover{
  color: var(--main-color);
}
.copyright{
  padding: 20px;
  text-align: center;
  color: var(--bg-color);
  background-color:#333;
}









@media (max-width:700px) {
  header{
    padding: 0 10px;
  } 
  header .menu{
    display: none;
  }

  .toogle_menu{
    width: 50px;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  .toogle_menu span{
    width: 35px;
    background-color: #ea1f33;
    height: 5px;
    border-radius: 6px;
    transition: 0.5s;
  }
  .toogle_menu span.active{
    width: 0px;
  }
  .toogle_menu:before{
    content: '';
    width: 20px;
    position: absolute;
    background-color: #ea1f33;
    transform: translateY(10px);
    height: 5px;
    border-radius: 6px;
    transition: 0.5s;
  }
  .toogle_menu.active::before {
   width:  28px;
    transform: rotate(45deg);
  }
  .toogle_menu:after{
    content: '';
    width: 20px;
    position: absolute;
    background-color: #ea1f33;
    transform: translateY(-10px);
    height: 5px;
    border-radius: 6px;
    transition: 0.5s;
  }
  .toogle_menu.active::after {
    width:28px;
    transform: rotate(-45deg);
  }
  header .menu.responsive {
    position: absolute;
    top: 50px;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
  }
  .home{
    justify-content: center;

  }
  .landing-text{
    padding: 0 10px;
  }
  .about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column-reverse;
    gap: 1.5rem;
  }
  .about-text{
    text-align: center;
  }
  .about-text h2{
  font-size: 1.5rem;
  }
  .cars-counatiner{
    grid-template-columns: repeat(1,1fr);
  }
  .countainer-box{
    grid-template-columns: repeat(1,1fr);
}
.footer-counatiner{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
} 
@media (min-width:700px) and (max-width:1100px) {
  .cars-counatiner{
    grid-template-columns: repeat(2,1fr);
  }
  .countainer-box{
    grid-template-columns: repeat(2,1fr);
}
}